* {
	margin: 0;
	padding: 0;
}
html {
	overflow-x: hidden;
}
.head {
	display: flex;
	width: 100%;
	min-height: 80px;
	border: 0;
	background-color: #4d98a5;
	justify-content: space-between;
	align-items: center; 
	
}
.head [type="checkbox"] {
		display: none;
	}
h1 {
	/*margin: 20px 0 20px 200px;*/
	color: white;
	letter-spacing: 1px;
	/*font-family: Stalemate, Amaranth, cursive;*/
	margin-left: 200px;
	/*margin-right: 30px;
	margin-bottom: 5px;*/
}
.map
/*TUUUUUUUBEEEEEEEE*/
.cssload-container {
	display: flex;
	position: absolute;
	z-index: 2;
	align-items: center;
	width: 100%;
	height: 49px;
	text-align: center;
	opacity: 0.7;
}

/*.cssload-tube-tunnel {
	z-index: -1;
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 1px solid ;
	border-radius: 50%;
	border-color: #00d089;
	animation: cssload-scale 1050ms infinite linear;
}
.cssload-tube-tunnel: hover {
	animation-play-state: paused; 
}*/
/*ANIMATION FOR TUUUUBE*/
@keyframes cssload-scale {
	0% { transform: scale(0); transform: scale(0); }
	/*30% {transform: scale(1); transform: scale(1);}*/
	/*40% {transform: scale(2); transform: scale(2); }*/
	/*50% {transform: scale(3); transform: scale(3); }
	80% {transform: scale(4); transform: scale(4); }*/
	90% { transform: scale(1); transform: scale(5); }
	100% { transform: scale(8); transform: scale(8); }
}
/*THIS IS CIRCLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*.cssload-bell {
	width: 410px;
	height: 414px;
	border-radius: 100%;
	position: absolute;
}

.cssload-circle {
	width: 100%;
	height: 100%;
	position: absolute;
}
.cssload-circle .cssload-inner {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 10px solid rgba(0,255,170,0.7);
	border-right: none;
	border-top: none;
	background-clip: padding;
	box-shadow: inset 0px 0px 20px rgba(0,255,170,0.15);
}

.cssload-circle:nth-of-type(0) {
	transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
}
.cssload-circle:nth-of-type(0) .cssload-inner {
	animation: cssload-spin 2.3s infinite linear;
		-o-animation: cssload-spin 2.3s infinite linear;
		-ms-animation: cssload-spin 2.3s infinite linear;
		-webkit-animation: cssload-spin 2.3s infinite linear;
		-moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-circle:nth-of-type(1) {
	transform: rotate(70deg);
		-o-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		-webkit-transform: rotate(70deg);
		-moz-transform: rotate(70deg);
}
.cssload-circle:nth-of-type(1) .cssload-inner {
	animation: cssload-spin 2.3s infinite linear;
		-o-animation: cssload-spin 2.3s infinite linear;
		-ms-animation: cssload-spin 2.3s infinite linear;
		-webkit-animation: cssload-spin 2.3s infinite linear;
		-moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-circle:nth-of-type(2) {
	transform: rotate(140deg);
		-o-transform: rotate(140deg);
		-ms-transform: rotate(140deg);
		-webkit-transform: rotate(140deg);
		-moz-transform: rotate(140deg);
}
.cssload-circle:nth-of-type(2) .cssload-inner {
	animation: cssload-spin 2.3s infinite linear;
		-o-animation: cssload-spin 2.3s infinite linear;
		-ms-animation: cssload-spin 2.3s infinite linear;
		-webkit-animation: cssload-spin 2.3s infinite linear;
		-moz-animation: cssload-spin 2.3s infinite linear;
}

.cssload-bell {
	animation: cssload-spin 5.75s infinite linear;
		-o-animation: cssload-spin 5.75s infinite linear;
		-ms-animation: cssload-spin 5.75s infinite linear;
		-webkit-animation: cssload-spin 5.75s infinite linear;
		-moz-animation: cssload-spin 5.75s infinite linear;
}



@keyframes cssload-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main_menu {
	display: none;
}
.menuTog {
	display: none;
}
.main {
	width: 100%;
	height: 450px;
}

.menu {
   display: flex;
   justify-content: flex-end; 
   margin-right: 100px;
   margin-top: 5px;
}
.s_menu {
	display: none;
}
.menu li {
	display: block;
	margin-right: 20px;
	font-size: 15pt;
	color: white;
}
.menu a {
	text-decoration: none;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

#fotorama {
	background: #2b2b2b;
	display: flex;
	font-family: Arial;
}
/*.img {
	text-align: center;
	line-height: 300px;
	position: absolute;
	font-size: 50px;
	color:  #fff;
	display: none;
}*/
.n {
	color: #575757;
}
a {
	text-decoration: none;
	color:  #f4fbfc;
	font-size:20px;

}
.menu li a:hover {
	color: #00d089;
	transition: all 0.5 ease;
}
.prev {
	position: relative;
	top: 240px;
	left: 200px;
}
.slick-next {
	position: absolute;
	z-index: 2;
	top: 260px;
	right: 200px;
}
.slick-prev {
	position: absolute;
	z-index: 2;
	top: 260px;
	left: 200px;
}
.slick-prev::before, .slick-next::before {
	font-size: 40px;
}
.slick-arrow {
	width: 40px;
	height: 40px;
}
.for_button {
	display: flex;
	justify-content: center;
	align-self: center;
}

/*.main {
	height: 400px;*/
	/*background: #aaa;*/
}
/*.sl_slide{
	background: url("../images/sl1.jpg") no-repeat top/cover;
}*/
.info {
	z-index: -2;
	display: flex;
	align-items: center;
	background-color: white;
    height: 500px;
    /*padding: 80px 200px 150px 200px;*/
    justify-content: center;
    flex-direction: column;
   /* padding-left: 300px;
	padding-right: 300px;*/

}
#DHAVAN {
	/*border: 1px solid black;*/
	background-color: #00d089;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 500px;
/*	padding-left: 330px;
	padding-right: 300px;*/
}
.section_block {
	justify-content: center;

}
/*#super_menuCont {
	display: none;
}*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.caption {
	color: black;
	font-size: 25pt;
	text-align: center;
	margin-top: 165px;
	opacity: 0.8;
}  
.caption2 {
 font-size: 13pt;
 margin-top: 30px;
 text-align: center;
 letter-spacing: 1px;
 margin-left: 20px;
 /*line-height: 150%;*/
/* padding: 0 200px 0 200px;*/
}
.caption3 {
	font-size: 15pt;
	text-align: left;
	line-height: 170%;
	color: white;
}

.fas {
	font-size: 35pt;
	color: #4d98a5;
	border-radius: 50%;
	/*margin-right: 125px;*/
	/*margin-right: -50px;*/
}
.fa-shopping-basket:hover {
	cursor: pointer;
	transition: all 2.0s ease;
	color:  #00d089;
	box-shadow: 20px 20px 40px;
}
.fas:hover {
	animation: scale 500ms reverse;
	animation-fill-mode: forwards;
}
@keyframes  scale{
	0% { transform: scale(1.4); transform: scale(1.4); }
	100% { transform: scale(1); transform: scale(1); }
}
.fa-suitcase:hover {
	cursor: pointer;
	transition: all 2.0s ease;
	color:  #00d089;
	box-shadow: 20px 20px 40px;
}
.fa-globe:hover {
	cursor: pointer;
	transition: all 2.0s ease;
	color:  #00d089;
	box-shadow: 20px 20px 40px;
	}
.fonts {
	display: flex;
	/*border: 1px solid #000;*/
	align-items: center;
	justify-content: space-evenly;
	/*justify-content: space-around;*/
	margin-top: 70px;
	margin-bottom: 70px;

}
.fa-globe {
	margin-left: -25%;
	margin-right: -25%;
}
.float {
	display: flex;
	flex-direction: row;
	float: left;
	margin-left: 100px;

}
.betweenimg {
	color: white;
	font-size: 20pt;
	text-transform: uppercase;
	/*margin: 35px 100px 0 0;*/
	margin: 0;
}
.bloquote{
	margin-bottom: 	60px;
	width: 130px;
	height: 130px;
	/*margin-top: 10px;*/
	padding: 0;
	opacity: .7;
	color: #fff;
	margin-right: 30px ;
}
.float_img {
	/*float: right;*/
	width: 150px;
	height:180px;
}
.business {
	width: 300px;
	height: 200px;
	align-items: center
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 40px;
}
.map {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	background-image: url("../images/map.jpg");

}
.contact__conteiner{
	z-index: 2;
	display: flex;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #fff;
	opacity: .8;
	align-items: center;
	justify-content: center;



}
footer {
	display: flex;
	height: 40px;
	background-color: #00d089;
	justify-content: center;
	align-items: center;
    
}
.rights {
	font-family: 'Bellefair', serif;
	color: white;
	text-transform: uppercase;
}
input {
	margin-bottom: 30px;
	padding: 5px 5px 5px 10px;
	width: 200px;
}
#message {
	height: 70px;
	vertical-align: text-top;
}
input[placeholder] {
	vertical-align: top;
}

.sl_slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/*position: absolute;*/

}
.sl__text {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;	
	text-align: center;
	bottom: 350px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	position: relative;
	padding: 0;
	border: 2px solid white;
	width: 230px;
	height: 50px;
	border-radius: 8%;
}
.sl__zag /*.sl__text*/{
	vertical-align: middle;	
	text-align: center;
	position: relative; 
    padding: 0 10px;
    bottom: 400px;
    text-transform: uppercase;
}
.end_button {
	/*background: url(../images/button.jpg) top left no-repeat;*/	
	width: 60px;
	height: 60px;
	border: 1px solid #00d089;
	border-radius: 50%;
	background-color: #00d089;
	margin: 0 0 0 80px;
	padding: 0;
}
.fa-check {
	font-size: 30pt;
	color: white;
}
/*fa-bars*/
.fa-bars {
	display: none;
}
.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-speeding-wheel {
	z-index: -1;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 4px solid  #01DFD7;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 1105ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
